<%= form_for(@user, :url => {:action => 'auth'}) do |f| %>
    <input type="hidden" name="user[mode]" value="login"/>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :password %>
      <br>
      <%= f.password_field :password %>
    </div>
    <div class="actions">
      <%= f.submit 'login' %>
    </div>
<% end %>
