<!DOCTYPE html>
<html>
<head>
  <title>RailsLogin</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
Hello, <%= (defined? @current.name) ? @current.name : 'Guest' %>
<% if (defined? @current.name) then %>
    <a href="/users/logout">Logout</a>
<% else %>
    <a href="/users/login"> login</a>
<% end %>
<%= yield %>

</body>
</html>
